html, body{margin:0px; padding:0px;}


.color {
  background: -webkit-linear-gradient(25deg, #008080 30%, rgba(0, 80, 80) 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  z-index: 20;
  font-family: Nosifer, cursive;
                  font-size: 100px;
                 position: relative;
                  z-index: 20px;
}


 /* .color:hover {
  background: -webkit-linear-gradient( white, white);
  -webkit-background-clip: text;
} */


.hover-line-animation {
    display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-line-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.8px;
  bottom: -6px;
  left: 0;
   background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-line-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.image {
z-index: 0;
  text-align: center;

}

html {
    scroll-behavior: smooth;
}

.role{
  border-color:#b3b3b3;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 3px;
}