html, body{margin: 6px 40px 60px 40px; padding:0px;}
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.color {
  background: -webkit-linear-gradient(25deg, #008080 30%, rgba(0, 80, 80) 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  z-index: 20;
  font-family: Nosifer, cursive;
                  font-size: 100px;
                 position: relative;
                  z-index: 20px;
}

.button {
  font-weight: 700;
}


.font-link {
  font-weight: 400;
}

.subinfo {
  font-weight: 400;
}

.font {
  font-weight: 900;
}

.font-h{
font-weight: 700;
}
.font-semi {
  font-weight: 600;
}

.font-text {
  font-weight: 400;
}



 /* .color:hover {
  background: -webkit-linear-gradient( white, white);
  -webkit-background-clip: text;
} */


.hover-line-animation {
    display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-line-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.8px;
  bottom: -6px;
  left: 0;
   background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-line-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.image {
z-index: 0;
  text-align: center;

}

html {
    scroll-behavior: smooth;
}

.role{
  border-color:#c5c5c5;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.prototype {
  width: 200px;
  height: 50px;
    background-color:#FFC225;
  border-radius: 3px;
  text-align: center;
  color: #FFC225;
  font-weight: bold;
   transition: transform .2s;
    display: flex;
   align-items: center;
   justify-content: center;
}

.prototype:hover {
  background-color: #fea91d;
  color: white;
    transform: scale(1.06); 
  
}

.prototype1 {
  width: 200px;
  height: 50px;
  border-radius: 3px;
  background-color: #ffc107;
  text-align: center;
  color: white;
  font-weight: bold;
   transition: transform .2s;
   display: flex;
   align-items: center;
   justify-content: center;
}

.prototype1:hover {
  background-color: #ffa000;
  color: white;
    transform: scale(1.06); 
  
}


.prototype2 {
  width: 200px;
  height: 50px;
    background-color:#7AC143;
  border-radius: 3px;
  text-align: center;
  color: #7AC143;
  font-weight: bold;
   transition: transform .2s;
     display: flex;
   align-items: center;
   justify-content: center;
}

.prototype2:hover {
  background-color: #579d31;
  color: white;
    transform: scale(1.06); 
  
}


.prototype3 {
  width: 200px;
    border-color:#285A84;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  text-align: center;
  color: #285A84;
  font-weight: bold;
   transition: transform .2s;
}

.prototype3:hover {
  background-color: #285A84;
  color: white;
    transform: scale(1.06); 
  
}

.prototype4 {
  width: 200px;
  height: 50px;
    background-color:#FF3717;
  border-radius: 3px;
  text-align: center;
  color: #FF3717;
  font-weight: bold;
   transition: transform .2s;
   margin-top: 30px;
    display: flex;
   align-items: center;
   justify-content: center;
}

.prototype4:hover {
  background-color: #f12e11;
  color: white;
    transform: scale(1.06); 
}


.next {
    font-family: Lato, sans-serif;
    width: 160px;
    border-color:black;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  text-align: center;
  color: black;
  font-weight: bold;
   transition: transform .2s;
float: right;

margin-bottom: 3em;
margin-top: 3em;
}

.next:hover {
   background-color: black;
  color: white;
    transform: scale(1.06); 
  
}

.previous {
    font-family: Lato, sans-serif;
    width: 160px;
    border-color:black;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  text-align: center;
  color: black;
  font-weight: bold;
   transition: transform .2s;
float: left;
margin-left: 4em;
margin-bottom: 3em;
}

.previous:hover {
   background-color: black;
  color: white;
    transform: scale(1.06); 
  
}